<h1>{{titulo}}</h1>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="producto" (ngSubmit)="guardarDatos()">

      <div class="form-group">
        <label>Id Producto</label>
        <input type="text" readonly class="form-control" formControlName="idproducto"/>
      </div>
      <div class="form-group">
        <label>Nombre Producto</label>
        <input type="text" class="form-control" formControlName="nombre" />
        <div style="color:red" *ngIf="producto.controls['nombre'].errors?.required">
          El nombre del producto es obligaratorio
        </div>
        <div style="color:red" *ngIf="producto.controls['nombre'].errors?.maxlength">
          Supero la longuitud maxima
        </div>
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input type="number" min="0" class="form-control" formControlName="precio" />
        <div style="color:red" *ngIf="producto.controls['precio'].errors?.required">
          El precio del producto es obligaratorio
        </div>
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <select formControlName="idcategoria" class=" form-control">
          <option value="">---Seleccione---</option>
          <option [value]="categoria.iidcategoria" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
        </select>
        <div style="color:red" *ngIf="producto.controls['idcategoria'].errors?.required">
          La categoria del producto es obligaratorio
        </div>
      </div>
      <div class="form-group">
        <label>Marca</label>
        <select formControlName="idmarca" class=" form-control">
          <option value="">---Seleccione---</option>
          <option [value]="marca.iidmarca" *ngFor="let marca of marcas">{{marca.nombre}}</option>
        </select>
        <div style="color:red" *ngIf="producto.controls['idmarca'].errors?.required">
          La categoria del producto es obligaratorio
        </div>
      </div>
      <div class="form-group">
        <label>stock</label>
        <input type="number" min="0" class="form-control" formControlName="stock" />
        <div style="color:red" *ngIf="producto.controls['stock'].errors?.required">
          El stock del producto es obligaratorio
        </div>
        <div style="color:red" *ngIf="producto.controls['stock'].errors?.puntoDecimal">
          Esta proibido poner un punto de decimal
        </div>
      </div>
      <div>
          <input [disabled]="!producto.valid" type="submit" value="Enviar" class="btn btn-primary" />
          <input type="button" [routerLink]="['/mantenimiento-producto']" value="Regresar" class="btn btn-danger" />
      </div>
    </form>
    <div *ngIf="producto.valid==false">
      <div class="alert alert-danger">
        El formulario no es valido
      </div>
    </div>
  </div>
</div>
