<h1>{{titulo}}</h1>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="usuario" (ngSubmit)="guardarDatos()">
      <div class="form-group">
        <label> Id usuario</label>
        <input type="text" readonly class="form-control" formControlName="iidusurio" />
      </div>
      <div class="form-group">
        <label> Nombre del usuario</label>
        <input type="text" class="form-control" formControlName="nombreusuario" />
        <div style="color:red" *ngIf="usuario.controls['nombreusuario'].errors?.required">
          El nombre del usuario es obligatorio
        </div>
        <div style="color:red" *ngIf="usuario.controls['nombreusuario'].errors?.maxlength">
          Supero la longitud maxima
        </div>

        <div style="color:red" *ngIf="usuario.controls['nombreusuario'].errors?.yaExiste">
         Ya existe el usuario en la base de datos
        </div>
      </div>

      <div class="form-group">
        <label>Ingrese contrasenia</label>
        <input type="password" class="form-control" formControlName="contra" />
        <div style="color:red" *ngIf="usuario.controls['contra'].errors?.required">
          La contraseña  es obligatoria
        </div>
        <div style="color:red" *ngIf="usuario.controls['contra'].errors?.maxlength">
          Supero la longitud maxima
        </div>
      </div>

      <div class="form-group">
        <label>Repita contrasenia</label>
        <input type="password" class="form-control" formControlName="contra2" />
        <div style="color:red" *ngIf="usuario.controls['contra2'].errors?.required">
          La contraseña  es obligatoria
        </div>
        <div style="color:red" *ngIf="usuario.controls['contra2'].errors?.maxlength">
          Supero la longitud maxima
        </div>
        <div style="color:red" *ngIf="usuario.controls['contra2'].errors?.noIguales">
         La contraseña no es igual a la de arriba
        </div>
      </div>
      <div class="form-group" formControlName="iidpersona">
        <label>Persona</label>
        <select class="form-control" formControlName="iidpersona">
          <option value="">--Seleccione--</option>
          <option [value]="persona.iidpersona" *ngFor="let persona of personas"> {{persona.nombreCompleto}}</option>
        </select>
        <div style="color:red" *ngIf="usuario.controls['iidpersona'].errors?.required">
          El nombre de la persona es obligatoria
        </div>
      </div>
      <div class="form-group" formControlName="iidTipousuario">
        <label>Tipo de usuario</label>
        <select class="form-control" formControlName="iidTipousuario">
          <option value=""> --Seleccione--</option>
          <option [value]="tipoUsuario.iidtipoUsuario" *ngFor="let tipoUsuario of tipoUsuarios">{{tipoUsuario.nombre}}</option>
        </select>
        <div style="color:red" *ngIf="usuario.controls['iidTipousuario'].errors?.required">
         El tipo de usuario es obligatorio
        </div>
      </div>
      <div>
        <input type="submit" [disabled]="!usuario.valid" value="Enviar" class="btn btn-primary"/>
        <input type="button" value="Regresar" [routerLink]="['/mantenimiento-usuario']"  class="btn btn-danger" />
      </div>
    </form>
  </div>

</div>
