<div class="row">
  <div class="col-md-12">
    <form [formGroup]="tipoUsuario" (ngSubmit)="guardarDatos()">
      <div class="form-group">
        <label>Id Tipo Usuario</label>
        <input type="text" formControlName="iidtipousuario" class="form-control" readonly />
      </div>

      <div class="form-group">
        <label>Nombre tipo usuario</label>
        <input type="text" formControlName="nombre" class="form-control"  />
      </div>

      <div class="form-group">
        <label>Descripcion tipo usuario</label>
        <input type="text" formControlName="descripcion" class="form-control" />
      </div>

      <div class="form-group">
        <label>Seleccione las paginas</label>
        <div *ngFor="let pagina of paginas">
          <input class="check" [name]="pagina.iidpagina" type="checkbox" />
          <label>{{pagina.mensaje}}</label>
        </div>
      </div>
      <div>
        <input [disabled]="!tipoUsuario.valid" type="submit" value="Enviar" class="btn btn-primary" />
        <input type="button" [routerLink]="['/mantenimiento-tipoUsuario']" value="Regresar" class="btn btn-danger" />
      </div>
    </form>
  </div>
</div>
